In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [130]:
data=pd.read_csv("D:/Kaggle/telecom customer churn/WA_Fn-UseC_-Telco-Customer-Churn.csv")

In [131]:
data.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [132]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [133]:
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [77]:
# data["TotalCharges"]=data["TotalCharges"].apply(lambda x: x.strip())
# data["TotalCharges"]=data["TotalCharges"].replace("\n","")

In [78]:
#data["TotalCharges"]=data["TotalCharges"].astype("float")

ValueError: could not convert string to float:

In [135]:
from sklearn.preprocessing import LabelEncoder
labelEncoder=LabelEncoder()
for column in ["OnlineSecurity","TechSupport","PaymentMethod","Contract","TotalCharges","MonthlyCharges","tenure"]:
    if(data[column].dtype.name=="object"):
        labelEncoder.fit(data[column])
        data[column]=labelEncoder.transform(data[column])

In [143]:
X=data.loc[:,["OnlineSecurity","TechSupport","PaymentMethod","Contract","TotalCharges","MonthlyCharges","tenure"]]
y=data.iloc[:,20]
X.columns

Index(['OnlineSecurity', 'TechSupport', 'PaymentMethod', 'Contract',
       'TotalCharges', 'MonthlyCharges', 'tenure'],
      dtype='object')

In [140]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges'],
      dtype='object')

In [146]:
from sklearn.ensemble import RandomForestClassifier
randomForestClasifier=RandomForestClassifier(n_estimators=20,)
randomForestClasifier.fit(X_train,y_train)

predictions=randomForestClasifier.predict(X_test)
randomForestClasifier.score(X_test,y_test)
# featureImportance=pd.DataFrame(randomForestClasifier.feature_importances_,index=X.columns)
# featureImportance.sort_values(0)

0.7832465688594415

In [153]:
from sklearn.model_selection import cross_val_score
accuracies=cross_val_score(estimator=randomForestClasifier,X=X_test,y=y_test,cv=10)
accuracies.mean()

0.7628397695481662

In [147]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,predictions)
tn, fp, fn, tp=confusion_matrix(y_test,predictions).ravel()
cm

array([[1386,  153],
       [ 305,  269]], dtype=int64)

In [105]:
fn

334